.main {
  width: 100%;
  background: url("../../images/main/main-bgi.png") center / contain no-repeat #000;

  &__wrap {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 87px 130px;
  }

  &__title {
    font-weight: bold;
    font-size: 72px;
    line-height: 80px;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 100px;
  }

  &__text_wrap {
    max-width: 243px;
  }

  &__text {
    font-weight: 200;
    font-size: 36px;
    line-height: 50px;
    color: #FFFFFF;
    text-align: left;
  }
  &__link {
    transition: 0.1s;
  }
  &__link:hover {
    border-bottom: 3px solid #FF6118;
    color: #FF6118;
  }
}
