.edit {
  padding: 20px 30px;
  border-radius: 20px;
  font-size: 20px;
  line-height: 30px;
}

.button {
  padding: 20px 30px;
  color: #fff;
  background: #FF6118;
  border-radius: 20px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.1s;
}

.button:hover {
  background-color: #FFFFFF;
  color: #FF6118;
}
.button:active {
  color: #FFFFFF;
  background-color: #FF6118;
}
